.SearchBox {
  width: 95%;
  margin: 0 0 75px;
}

.SearchBox .SearchBar {
  display: block;
  width: 100%;
  padding: 15px;
  appearance: none;
  background: none;
  border: none;
  outline: none;

  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 16px;

  font-size: medium;
  color: black;
}

.SearchBox .SearchBar:focus {
  background-color: rgba(255, 255, 255, 0.8);
}
