.WeatherBox {
  text-align: center;
}

.Temperature {
  position: relative;
  display: inline-block;
  margin: 30px auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  padding: 15px 25px;

  color: white;
  font-size: 100px;
  font-weight: 700;

  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
  text-align: center;
  box-shadow: 3px 6px rgba(50, 50, 70, 0.5);
}

.Weather {
  color: white;
  font-size: xx-large;
  font-weight: 700;
}
