* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.app {
  background-image: url("./Assets/HotWeather.jpg");
  background-position: bottom;
  background-size: cover;
  transition: 0.4 case-out;
}

.app.cold {
  background-image: url("./Assets/ColdWeather.jpg");
}

main {
  min-height: 120vh;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.5)
  );
  padding: 25px;
}
